<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2014-2023 JKOOL, LLC.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="tnt4j-streams-servlet" version="3.0">

    <display-name>TNT4J Streams</display-name>
    <description>TNT4J Streams web servlet</description>

    <servlet>
        <servlet-name>TNT4JStreamsServlet</servlet-name>
        <servlet-class>com.jkoolcloud.tnt4j.streams.TNT4JStreamsServlet</servlet-class>
        <load-on-startup>1</load-on-startup>

        <init-param>
            <param-name>streams.configs.dir</param-name>
            <param-value>${catalina.base}/conf/Catalina/localhost/tnt4j-streams</param-value>
            <description>TNT4J-Streams configuration files location path. It shall contain these files: 'tnt4j.properties', 'log4j2.xml' and
                'tnt-data-source.xml'. Optional if setting individual configuration files with params 'tnt4j.config', 'log4j2.config' and
                'streams.config'.
            </description>
        </init-param>
        <init-param>
            <param-name>tnt4j.config</param-name>
            <param-value>tnt4j.properties</param-value>
            <description>TNT4J configuration file path</description>
        </init-param>
        <init-param>
            <param-name>log4j2.config</param-name>
            <param-value>log4j2.xml</param-value>
            <description>log4j V2 configuration file path</description>
        </init-param>
        <init-param>
            <param-name>streams.config</param-name>
            <param-value>tnt-data-source.xml</param-value>
            <description>TNT4J-Streams datasource/parsers configuration file path</description>
        </init-param>
        <!--<run-as>-->
        <!--<role-name>StreamManager</role-name>-->
        <!--</run-as>-->
    </servlet>

    <servlet-mapping>
        <servlet-name>TNT4JStreamsServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!--<security-constraint>-->
    <!--<display-name>TNT4J Streams console</display-name>-->

    <!--<web-resource-collection>-->
    <!--<web-resource-name>Main servlet page</web-resource-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--</web-resource-collection>-->

    <!--<user-data-constraint>-->
    <!--<transport-guarantee>NONE</transport-guarantee>-->
    <!--</user-data-constraint>-->

    <!--<auth-constraint>-->
    <!--<role-name>StreamManager</role-name>-->
    <!--</auth-constraint>-->
    <!--</security-constraint>-->

    <!--<login-config>-->
    <!--<auth-method>BASIC</auth-method>-->
    <!--<realm-name>default</realm-name>-->
    <!--</login-config>-->

    <!--<security-role>-->
    <!--<role-name>StreamManager</role-name>-->
    <!--</security-role>-->
</web-app>
